.m1{

    font-size: 14px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.09);

}
.m link{
    color: #fff;
    text-decoration: none;

}
.m2{

    margin-left: 5%;
    
}

.m3{

    height: 40px;
    width: 140px;
}
.btn{

    margin-left: 0%;
    margin-top: -3.5%;
}
.m4{
background-color: rgb(97, 97, 194);
    height: 550px;
    width: 100%;
}
.doctor{

    height: 550px;
    float: right;
    margin-right: 8%;
}
.m5{
    color: white;
    font-size: 50px;
    margin-left: 7.5%;
    margin-right: 59%;
    padding-top: 5%;
}
.m6{
    color: white;
    margin-right: 50%;
    margin-left: 7.5%;
}

.m8{

    margin-left: 2%;
    font-size: 13px;
    padding:1% 2% 1% 2%;
    margin-top: 2%;

}
.m8:hover{
    background-color: white;
    color: rgb(97, 97, 194);
    
}
.m7
{
    margin-left: 7.5%;
    color:rgb(97, 97, 194); 
    font-size: 13px;
    padding:1% 2% 1% 2%;
    margin-top: 2%;

}

.m9{

    padding-top: 6%;
}

@media (max-width:992px) {
    .m10
    {
        display: none;
    }
    
}
@media (max-width:990px) {
    .m11{
        padding-left: 25%;
        font-size: 20px;
        
    }
}
@media (max-width:990px)
{
    .m4{
        height: 700px;
        padding-left: 25%;

    }
}
@media (max-width:860px)
{
    .m4{
        height: 820px;
        padding-left: 25%;

    }
}
@media (max-width:591px)
{
    .m4{
        height: 950px;
        padding-left: 25%;

    }
}

@media (max-width:394px)
{
    .m4{
        height: 1100px;
        padding-left: 25%;

    }
}
.m13
{
    background-color: #1e5ad7;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: -12%;
    margin-left: 25%;
    padding:3%;
    color: white;
    font-family: poppins;
    letter-spacing: 1px;
    border-radius: 30px;
    width: 51%;
    z-index: 999;
    position: absolute;
    
}
.sub{
    box-shadow: 0 5px 15px rgba(0,0,0,0.09);


}
.mg{
    margin-top: -1%;
}


.imag{

    transition: all 0.3s linear;
    background-size: cover;
    background-position: center;
    /* z-index: -999; */
    position: relative;


}
.main .sub:hover .imag{

    transform: scale(1.1);
    /* width: 23rem; */

}
.sub {

    overflow: hidden;

}
.admin{

    
    font-size: 18px;
    opacity: 0.4;
}
.clinic{

    font-size: 18px;
    opacity: 0.4;
    margin: -12.3% 0 3% 55%;
}
.medical{

    font-family: Calibri;
    font-size: 28px;
    font-weight: bold;
    transition: all 1s;

}
.medical:hover{

    color: blue;
    transition: all 1s;
}

.m14{

    height: 50px;
    width: 15%;
    text-align: center;
    background-color: #00a3c8;
    position: absolute;
    z-index: 999;
    margin: 5% 0 0 10%;
    border-radius: 6px 6px 0 0 ;
    letter-spacing: 1px;
    padding: 1%;
    font-size: 0.85rem;
    color: #fff;
    font-family:Lato;
    font-weight: 900;
}
.m15{

    height: 500px;
    width: 40%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    margin:8.3% 0% 0% 10%;
    border-radius: 0 6px 6px 6px;
    padding: 3.5% 3%;
}
.m16{

    font-family: roboto;
    font-size: 18px;
    opacity: 0.6;
    color: #666;
}
.bi
{
    margin-top: 10%;
}
/* .bt{
    background-color: #666;
    padding: 2%;
    color: black;
} */
@media (max-width:1349px){

    .m14{

        width: 17%;
    }
}
@media (max-width:1169px){

    .m14{

        width: 20%;
        margin-top: 4%;
    }
}
@media (max-width:975px){

    .m14{

        width: 23%;
        margin-top: 3.1%;
    }
}
@media (max-width:836px){

    .m14{

        width: 26%;
        margin-top: 2.3%;
    }
}
@media (max-width:731px){

    .m14{

        width: 30%;
        padding: 0;
        height: 30px;
        margin-top: 4.2%;
    }
}
@media (max-width:585px){

    .m14{

        width: 34%;
        padding: 1%;
        height: 30px;
        font-size: 0.60rem;
        margin-top: 3.3%;
    }
}
@media (max-width:405px){

    .m14{

        width: 40%;
        padding: 1%;
        height: 30px;
        font-size: 0.60rem;
        margin-top: 0.9%;
    }
}
@media (max-width:341px){

    .m14{

        display: none;
    }
}
@media (max-width:1284px){
    .m15{

        height: 600px;
    }

}
@media (max-width:637px){
    .m15{

        height: 650px;
    }

}
@media (max-width:492px){
    .m15{

        height: 700px;
        width: 45%;
    }

}
@media (max-width:413px){
    .m15{

        width: 47%;
        height: 750px;
    }

}
@media (max-width:359px){
    .m15{

        width: 58%;
        height: 800px;
        font-size: 10px;
    }

}
@media (max-width:243px){
    .m15{

        width: 65%;
        height: 830px;
    }

}
@media (max-width:207px){
    .m15{
        display: none;
    }

}

@media (min-width:991px) and (max-width:1400px)
{

    .ss{

        width: 25%;
    }
}
.m17{

    height: 335px;
    width: 80%;
    background-color: #fff;
    margin-left: 10%;
    margin-top: -7%;    
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.09);

}
@media (max-width:1135px){
    .m17{

        height: 750px;
    }
}
@media (max-width:471px){
    .m17{

        height: 950px;
    }
}
@media (max-width:279px){
    .m17{

        height: 1300px;
    }
}
.m18{

    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    padding-top: 3%;
    margin-left: 2%;
    
}
.m19{

    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    padding-top: 3%;
     margin-left: 3%;
}
.m21{

    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    padding-top: 3%;
    margin-left: 2%;
}
.m20{
    margin-top: 20%;

}
table{
    margin-top: 8%;
    /* border-top: none;
    border-right: none;
    border-left: none; */

    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.var{

    font-size: 16px;
    opacity: 0.5;
    font-weight: normal;
    padding-bottom: 5%;
    padding-top: 2.5%;
    
    
}
.dash{
    opacity: 0.5;
    font-weight: normal;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 2.5%;
}
.time{

    font-size: 16px;
    color: #666;
    /* font-weight: normal; */
    padding-left: 23%;
    padding-bottom: 5%;
    padding-top: 2.5%;
}

.ig{
    height: auto;
    float: right;
}

.f{
    padding: 3% 0% 2% 3%;
}
.s{

    padding: 3% 0% 2% 8%;
    opacity: 0.6;
    font-weight: normal;
}
.t{
    padding: 3% 0% 2% 8%;
    opacity: 0.6;
    font-weight: normal;
}
.tb{
    font-size: 17px;
    margin-top: 4%;
    padding: 10%;
    border: 1px solid black;
    border-radius: 16px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.tb tr:hover{

    background-color: rgb(159, 216, 238);
}
@media (max-width:1473px){
     .ig{
        display: none;
    } 
}
@media (max-width:1135px){
    .m20{
        margin-top: 60%;
        margin-left: 0%;
        padding-left: 0%;
    }
    .tb{

        width: 100%;
    }
}
@media (max-width:1064px){
    .m20{
        margin-top: 70%;
    }
}
@media (max-width:931px){
    .m20{
        margin-top: 80%;
    }
}
@media (max-width:829px){
    .m20{
        margin-top: 90%;
    }
}
@media (max-width:750px){
    .m20{
        margin-top: 100%;
    }
}
@media (max-width:690px){
    .m20{
        margin-top: 110%;
    }
}
@media (max-width:630px){
    .m20{
        margin-top: 120%;
    }
}
@media (max-width:580px){
    .m20{
        margin-top: 130%;
    }
}
@media (max-width:540px){
    .m20{
        margin-top: 140%;
    }
}
@media (max-width:500px){
    .m20{
        margin-top: 150%;
    }
}@media (max-width:471px){
    .m20{
        margin-top: 200%;

    }
    .t{

        padding: 0 0 0 1%;
    }
}
@media (max-width:455px){
    .m20{
        margin-top: 210%;
    }
}
@media (max-width:433px){
    .m20{
        margin-top: 220%;
    }
}
@media (max-width:415px){
    .m20{
        margin-top: 230%;
    }
}
@media (max-width:397px){
    .m20{
        margin-top: 240%;
    }
}
@media (max-width:380px){
    .m20{
        margin-top: 250%;
    }
}
@media (max-width:367px){
    .m20{
        margin-top: 260%;
    }
}
@media (max-width:353px){
    .m20{
        margin-top: 270%;
    }
}
@media (max-width:340px){
    .m20{
        margin-top: 280%;
    }
}
@media (max-width:328px){
    .m20{
        margin-top: 290%;
    }
}
@media (max-width:318px){
    .m20{
        margin-top: 320%;
    }
}
@media (max-width:310px){
    .m20{
        margin-top: 360%;
    }
}
@media (max-width:306px){
    .m20{
        margin-top: 400%;
    }
}
@media (max-width:297px){
    .m20{
        margin-top: 340%;
    }
}
@media (max-width:279px){
    .m20{
        margin-top: 500%;
    }
}
@media (max-width:256px){
    .m20{
        margin-top: 540%;
    }
}
@media (max-width:236px){
    .m20{
        margin-top: 565%;
    }
}
@media (max-width:227px){
    .m20{
        margin-top: 580%;
    }
}
@media (max-width:220px){
    .m20{
        margin-top: 590%;
    }
}
@media (max-width:218px){
    .m20{
        margin-top: 650%;
    }
}@media (max-width:214px){
    .m20{
        margin-top: 700%;
    }
}
input{

    padding: 10px 18px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #fff;
    
    
}
.in{
    background-color: #00a3c8;
}
.in:hover {

    background-color: blue;
    transition: 0.1s;
    
}
.min{

    background-color: #f8f9fb;
    height: 800px;
    padding-top: 100px;
    margin-top: 200px;
}
@media (max-width:1399px)
{
    .min{
        height: 2000px;
    }
}
.a1{

    background-color:#0D6EFD ;
    width: 100%;
    height: 500px;
}
.pic{

    /* margin:5% 5%; */
    border-radius: 25px ;
}
.a2{

    padding-top: 5%;
}

@media (max-width:1395px){

    .a2{
            padding: 0;
    }
}
.progress{

    height: 10px;
    background-color: burlywood;
    margin: 2% 0 0% 0;
}
.head
{
    font-size: 20px;
    
}
.box{

    height: 465px;
    width: 417px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.09);
    margin-top: 10%;
    margin-left: 5%;
    transition: all 0.6s;

}
@media (max-width:1400px){

    .box2{

        margin-left: 10%;
    }
}
@media (max-width:1200px){

    .box2{

        margin-left: 15%;
    }
}
@media (max-width:991px){

    .box2{

        margin-left: 1%;
    }
}
.inr{

    background-color: blue;
    height: 35%;
    border-radius: 10px 10px 50% 50%;
    text-align: center;
    color: #fff;
    padding-top:6%;
}
.d{

    font-size: 45px;
}
ul li{

    list-style: none;
    margin: 20px 20px;
    font-size: 18px;
    color:#777777;
}
ul li:hover{

    color: blue;
}
.btun{

    border-radius: 30px;
    padding: 3% 5%;
    font-weight: bold;
    color: #777777;
}
.btun:hover{

    border: 1px solid blue;
    color: blue;
}
.box:hover{

    margin-top: 7%;
    transition: all 0.6s;
}
.bn{

    margin-left: -5%;
    border: none;
    background-color: #fff;
    
}
@media (max-width:992px){

    .bn{

        margin-left: -10%;
    }
}
@media (max-width:769px){

    .bn{

        margin-left: -10%;
    }
}
@media (max-width:434px){

    .bn{

        margin-left: -18%;
    }
}
@media (max-width:252px){

    .bn{

        margin-left: -25%;
    }
}
@media (max-width:190px){

    .bn{

        margin-left: -35%;
    }
}
.bn:hover{

    color: blue;
}
.footer{

    background-color:black ;
    margin-top:5%;
    height: 500px;
}   
.bu{

    background-color: #1e5ad7;
    color: #fff;
}
.footer ul{

    display: flex;
    padding: 0%;
    margin-left: -6%;
}

.footer .he ul li:hover .bu{ 

    background-color: #fff;
    color: blue;
}
.ic{
    
    background-color: black;
    color: #fff;
    border: none;
    padding: 0 0 10px 0;
    margin: 0 0 0-7px;
}
.in{

    background-color: black;
    font-weight: none;
    margin: 0 5px 0 0;
    transition: all 0.5s;
    
}
.logo{

    height: 40px;
    width: 150px;
}
.in2 li .in:hover  {

    color: blue;
    background-color: black;
    margin: 0 1px 0 0;
    transition: all 0.5s;
}
.in2  .ic:hover .in1{

    font-size: 16px;

}

.in2 li .ic:hover  {

    color: blue;
    font-size: 17px;
}

.in2 li .ic{

    display: flex;
}
.in2{
    display: block;
}
.in1{

    font-size: 18px;
    font-weight: normal;
    
}
@media (max-width:1400px){

    .footer{

        height: 1000px;
    }

}

@media (max-width:992px){

    .footer{

        height: 1200px;
    }
}

@media (max-width:576px){

    .ww{

        padding-left: 100px;
    }
    .footer{

        height: 1700px;
    }
}
@media(max-width:364px){


    .ww{

        padding-left: 50px;
       
    }
}
@media(max-width:319px){


    .ww{

        padding-left: 10px;
       
    }
}
@media (max-width:299px){

    .footer{

        height: 1900px;
    }


}
@media (max-width:277px){

    .bu{
            display: none;
        
    }
}

.pri{

    background-color:#0D6EFD ;
    width: 100%;
    height: 250px;
}
.pri .head{

    transform: translateY(90%);
}
.p1{

    background-color: #f9f9fA;
    height: 800px;
    width: 100%;
}

.free{

    background-color: #fff;
    height: 650px;
    width: 100%;
    margin:75px 0 0 15px;
    padding: 10%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.09);

}
.enter{
    background-color: #fff;
    height: 650px;
    width: 100%;
    margin:75px 0 0 15px;
    padding: 10%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.09);
}
.free ul li{

    list-style: none;
    margin-left: -0.1%;
}
.enter ul li{

    list-style: none;
    margin-left: -0.1%;
}
.cp input{

    color: #0D6EFD;
    transition: 0.2s ease-in-out;
}
.cp1 input{

    color: #fff;
    background-color: #0D6EFD;
    transition: 0.2s ease-in-out;

}
.cp1:hover input{

    color: #0D6EFD;
    background-color: #fff;

}
.cp:hover input{

    background-color: #0D6EFD;
    color: #fff;


}
@media (min-width:767px) and (max-width:1200px)
{
    .p1{

        height: 1500px;
    }
    .enter{

        width: 50%;
        margin: 50px 0 0 26%;
        padding: 44.4px;
        
    }

}
@media (min-width:0px) and (max-width:767px)
{
    .p1{
        height: 2300px;
    }
}
@media (min-width:260px) and (max-width:327px)
{
    .free{
        height: 750px;
    }
}
@media (max-width:260px){

    .free{
        height:950px
    }
}
.d1{
    
    background-color: #f9f9fA;
    height: 800px;
    width: 100%;
}


.mainbox{

    height: 487px;
    width: 90%;
    background-color: #fff;
    margin-top: 10%;
    padding: 2% 2%;
    position: relative;
    transition: 0.7s ease-in-out;
}
.imgbox{

    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.7s ease-in-out;

    
}
.imgbox img{

    transition: 0.7s ease-in-out;

} 

.mainbox:hover .imgbox img{

    transform: scale(1.1)
}
.imgbox3{

    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.7s ease-in-out;

    
}
.imgbox3 img{

    transition: 0.7s ease-in-out;

} 

.mainbox:hover .imgbox3 img{

    transform: scale(1.1)
}

.oicon{

    position: absolute;
    top: 0;
    left: -5%;
    transition: .3s ease-in-out;
}
.oicon1 {

    background-color: #0D6EFD;
    border: none;
    color: #fff;
    padding: 30% 50%;

    opacity: 0;
    transform: translateY(50%);
    transition: .3s ease-in-out;

}
.oicon2 {

    background-color: #0D6EFD;
    border: none;
    color: #fff;
    padding: 30% 50%;

    transition: .3s ease-in-out;    
    /* margin-top: 15%; */
    opacity: 0;
    transform: translateY(50%);
    transition: .3s ease-in-out;
    	


}
.oicon3 {

    background-color: #0D6EFD;
    border: none;
    color: #fff;
    padding: 30% 50%;
    opacity: 0;
    transform: translateY(50%);
    transition: .3s ease-in-out;

}
.oicon4 {

    background-color: #0D6EFD;
    border: none;
    color: #fff;
    padding: 30% 50%;
    opacity: 0;
    transform: translateY(50%);
    transition: .3s ease-in-out;

}
.oicon1:hover {

    background-color: #fff;
    color: #0D6EFD;
    
}
.oicon2:hover {

    background-color: #fff;
    color: #0D6EFD;
}
.oicon3:hover {

    background-color: #fff;
    color: #0D6EFD;
}
.oicon4:hover {

    background-color: #fff;
    color: #0D6EFD;
}

.mainbox:hover .oicon1{

    opacity: 1;
    transform: translateY(0%); 
    transition-delay: calc(.4s);

    
}
 .mainbox:hover .oicon2{

    opacity: 1;
 transform: translateY(-65%); 
 transition-delay: calc(.5s);


}
.mainbox:hover .oicon3{

    opacity: 1;
 transform: translateY(-130%); 
 transition-delay: calc(.6s);    
   }
.mainbox:hover .oicon4{

    opacity: 1;
    transform: translateY(-195%); 
    transition-delay: calc(.7s);  
 }
.caption{

    text-align: center;
    padding: 5% 5% 2% 5%;
    width: 104.6%;
    margin-left: -2.2%;
    background-color: #fff;
    letter-spacing: 2px;
    

}
.d2{
    
    background-color: #f9f9fA;
    height: 800px;
    width: 100%;
    margin-top: -10%;
}
.line
{
	background-color: transparent;
	color: #000;
	text-decoration: none;
    width: 100%;
    height: 405px;
    top: 0;
    left: 0;
    margin-top:50%;
	position: absolute;
}
.line::before
{
    position: absolute;
	content: "";
	width: 0%;
	height: 6px;
	background-color: darkblue;
	bottom: 0;
	right: 0;
	transition: .5s;
}
.line:hover::before
{
	width: 100%;
	left: 0;
}


@media (min-width:0px) and (max-width:992px){

    .mainbox{

        margin-top: 20%;
    }
}
@media (min-width:1199px) and (max-width:1400px){

   
    .line{

        margin-top: 58%;
    }
    
}

@media (min-width:992px) and (max-width:1199px)
{

    .line{

        margin-top: 70%;
    }
}
@media (min-width:768px) and (max-width:991px)
{

    .line{

    margin-top: 45%;
    }
    .mainbox{

        width: 57%;
        margin: 10% auto;
    }
    .caption{

        width: 108%;
        margin-left: -4%;
    }
    .d1{
        height:2000px
    }
    .d2{

        height: 2000px;
    }

}
@media (min-width:576px) and (max-width:767px)
{

    .line{

        margin-top: 47%;
    }
    .mainbox{

        width: 76%;
        margin: 15% auto;
    }
    .d1{

        height: 2000px;
    }
    .d2{
        height: 2000px;
    }
}

@media (min-width:0px) and (max-width:575px)
{

    .line{

        margin-top: 45%;
    }
    .mainbox{

        width: 76%;
        margin: 15% auto;
    }
    .d1{

        height: 2000px;
    }
    .d2{
        height: 2000px;
    }
}




